{% extends "base.html" %}


{% block content_slot %}

<fieldset>
<legend>Products catalog page</legend>
{% for item in product_list %}
<div>
	       	<div class="span-4 left image_border">
      		  	<a href="/admin/product?action=delete&product.key_id={{item.key.id}}" >delete</a>&nbsp;&nbsp;&nbsp;
      		  	<a href="/admin/product?action=edit&product.key_id={{item.key.id}}" >edit</a>
      		  	<input type="text" class="span-1" value="{{item.key.id}}" />
      		  	<br>
      		  	<b>images</b>:{{item.images}}<br/>
      		  	 	<a href="/{{active}}/{{item.key.id}}" >
      		  			<b>{{item.title}}</b><br/>
  						<img src="/img/{{ item.images|first_image }}" width="150" alt="{{item.title}}"></a>
  					</a>
  				<h3><strike>{{item.old_price}}</strike> {{item.new_price}} </h3>  			
  						
			</div>
{% endfor %}

	       	<div class="span-4 left image_border">
      		  	<a href="/admin/product?action=edit" >Add new Product
      		  	<img src="{% image_not_found %}" width="150" alt="{{item.title}}">
      		  	</a>
			</div>


</fieldset>
</div>
<br style="clear:both" />
{% endblock %} 