html, body, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
margin:0px auto;
padding:0px;
border:0;
outline:0;
font-size:100%;
}
a
{
text-decoration:none;
}
a:hover
{
text-decoration:underline;
}
:focus
{
outline:0px;
}

table
{
border-collapse:collapse;
border-spacing:0px;
}
ol,ul
{
list-style:none;
}
