body{
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;
}

/* Top Navigation Css */

.topNav{
font-size: 15px;
text-align:right;
}

.topNav ul{
}

.topNav li{
}

.topNav li a, .topNav li a:link, .topNav li a:active, .topNav li a:visited{
text-decoration: none;
font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
}

.topNav li a:hover{
text-decoration: none;
font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
}

.topNav li.active{
text-decoration: none;
text-align:right;
font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
}


/* Dropdown Css */
.subMenu  {
	text-align:left;
	font-family: Arial, Helvetica, sans-serif, "Myriad Pro";
	}
.subMenu  a, .subMenu  a:visited {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif, "Myriad Pro";
	}
.subMenu a:hover {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif, "Myriad Pro";
	}
.subMenu a.noborder{
	border: none;
	font-family: Arial, Helvetica, sans-serif, "Myriad Pro";
	}


/* Left Container Css */

.iconContIn .width2 h1{
font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
font-size: 15px;
margin: 0px 0px 6px 0px;
}

.iconContIn .width2 h1 a{
font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
font-size: 15px;
text-decoration:none;
}

.iconContIn .width2 h1 a:hover{
font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
font-size: 15px;
text-decoration:underline;	
}

.width2 h1.marH1{
margin: 9px 0px 0px 0px;
color:#CD0400;
font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
font-size: 15px;
text-decoration:none;
}
.width2 .marH1 a{
margin: 9px 0px 0px 0px;
color:#CD0400;
font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
font-size: 15px;
text-decoration:none;
font-weight:bold;
}
.width2 h1.marH1 a:hover{
margin: 9px 0px 0px 0px;
color:#CD0400;
font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
font-size: 15px;
text-decoration:none;
}

.width2 h1.marH2{
margin: 7px 0px 0px 0px;
}


.iconContIn .width2{
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;
}

.activeplan{
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;
margin: 0px 0px 10px 0px;
color:#006ab4;
}

.activeplan a{
color: #006ab4;
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;
padding: 0px 2px 0px 2px;
margin: 0px 0px 0px 0px;

}
.activeplan a:hover{
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;
padding: 0px 2px px 2px;
margin: 0px 0px 0px 0px;	
text-decoration:underline;
color: #006ab4;
}

.clientTesti .width1 a{
text-decoration: none;
margin: 0px 0px 0px 0px;
}

.clientTesti .width1 a:hover{
text-decoration: underline;
}


.clientTesti .width2 h1{
font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
font-size: 15px;
margin: 0px 0px 3px 0px;
}

/* Right Container Css */
.featuredCont .top h2{
text-transform:uppercase;
padding:5px 0 0 15px;
}

.readmore a{
font-size:11px;
}
.readmore a:hover{
font-size:11px;
}

.newsBg .newsCont h2{
text-transform:uppercase;
margin: 0px 0px 10px 0px;
color:#464646;
}
.newsh2{
text-transform:uppercase;
color:#464646;
font-size:14px;
}
.newsCont1 h2{
text-transform:uppercase;
margin: 7px 0px 10px 10px;
color:#CD0400;
}
.news1h2{
text-transform:uppercase;
color:#CD0400;
font-size:14px;
margin: 7px 0px 10px 10px;
}
.newsCont .red{
text-decoration:none;
}
.newsCont .red a{
text-decoration:none;
}
.newsCont .red a:hover{
text-decoration: underline;
}

/* footer Css */
.footerCont .link{
text-align:center;
}

.footerCont .link a{
padding: 0px 2px 0px 2px;
text-decoration: none;
}

.footerCont .link a:hover{
padding: 0px 2px 0px 2px;
text-decoration: underline;
}

.footerCont .txt{
text-align:center;
font-size: 10px;
}

.footerCont .copyright{
font-size: 10px;
}

.footerCont .fotlink{
font-size: 10px;
text-align:right;
}

.footerCont .fotlink a{
font-size: 10px;
text-decoration: none;
}

.footerCont .fotlink a:hover{
font-size: 10px;
text-decoration: underline;
}
/*27.10.2009 created class*/
.headingRed1{ font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#d60700;
background:url(/images/headingBullet.jpg) no-repeat left center;
padding-left:30px;
height:30px;
line-height:30px;
text-transform:uppercase;
}
.solutionSeo h1 { font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#d60700;
background:url(/images/headingBullet.jpg) no-repeat left;
padding-left:30px;
line-height:30px;
text-transform:uppercase;
font-weight:500;
}

.solutionSeo h1 b{ 
text-transform:lowercase;
font-weight:normal;
}

.solutionSeo h1 span{
color:#6a6c6e;
}
.mainHeading{
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
line-height:30px;
text-transform:uppercase;
font-weight:500;
color:#6a6c6e;}
.mainHeading h1{font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#d60700;
background:url(/images/headingBullet.jpg) no-repeat left;
padding-left:30px;
line-height:30px;
text-transform:uppercase;
font-weight:500;
float:left;
}


h3 { font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#d60700;
line-height:20px;
text-transform:uppercase;
font-weight:500;
}
h3 span{
color:#6a6c6e;
}
h2 { font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#d60700;
line-height:20px;
text-transform:uppercase;
font-weight:500;
}
h2 span{
color:#6a6c6e;
}
.headingGrey{ font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#6a6c6e;
text-transform:uppercase;
}

.headingRed2{ font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#F97801;
}


.headingRedCommon{
font-family:Arial, Helvetica, sans-serif;
font-size:100%;
font-weight:bold;
color:#d60700;
}
.headingRedCommon a{color:#d60700;}
.headingRedCommon a:hover{color:#d60700;}

.comingSoon{ font-family:Arial, Helvetica, sans-serif;
font-size:21px;
color:#d60700;
}

h2.seoTxt{
font-family:Arial, Helvetica, sans-serif;
font-size:100%;
font-weight:bold;
color:#d60700;
display:inline
}

h2.seonormal{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#3c3c3c;
display:inline;
text-transform:lowercase
}

.seoC {
	text-transform:none !important}


h3.seoTxt{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#3c3c3c;
text-transform:lowercase;
display:inline
}

h3.seohead{
font-family:Arial, Helvetica, sans-serif;
font-size:100%;
font-weight:bold;
color:#d60700;
display:inline
}

.bold {font-weight:bold !important}

.normal {font-weight:normal}



/* New Heading 22-06-2010*/

.newsHeadingRed{ font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#d60700;
background:url(/images/headingBullet.jpg) no-repeat left center;
padding-left:30px;
text-transform:uppercase;
}



