/* 29 APRIL 2010  To target a safari browser issue */
@media screen and (-webkit-min-device-pixel-ratio:0){

p{
margin: 0px 0px 28px 0px;
}

.clientTesti{
margin: 20px 0px 21px 22px;
}

.footerCont .copyright{
margin:0px 0px 0px 25px;
}

.footerCont .fotlink{
margin:0px 25px 0px 0px;
}
}
