{% extends "base.html" %}

{% block content_slot %}

  <div class="span-20">
	<fieldset> 
            <legend>Pages List</legend>  
      <table>
	  <thead>
        <tr>
          <th>&nbsp;</th>          
          <th>Title</th>
          <th>Menu</th>
          <th>Date</th>
          <th>Comments</th>
          <th>Visible</th>
          <th>id</th>
          <th>&nbsp;</th>
        </tr>
		</thead>			
		<tbody>
		
		{% for item in page_list %}
		  <tr>
	          <td>
	          	<a href="/{{parent}}/{{name}}?action=delete&{{name}}.key_id={{item.key.id}}" >delete</a>
	          </td>
	          <td>{{item.title}}</td>
	          <td>{{item.fk_menu}}</td>
	          <td>{{item.date|date:"d/m/y H:m"}}</td>
	          <td>{{item.is_comment}}</td>
	          <td>{{item.is_visible}}</td>
		  	  <td>{{item.key.id}}</td>
	          <td>
	          	<a href="/{{parent}}/page?action=edit&page.key_id={{item.key.id}}" >edit</a>
	          </td>
	          
         </tr>
		 {% endfor %} 
        </tbody>
      </table>
      
 </fieldset>
</div> 
{% endblock%}