{% extends "base.html" %}

{% block content_slot %}

<h2>Products</h2>
 <div class="span-12">  
        <form action="{{admin_model.link_id}}" method="get">
		<input type="hidden" name="action" value="addupdate" />
 
          <fieldset> 
            <legend>Product</legend>
            
            <p> 
              <label>ID: {{product.key.id}}</label>
              <input type="hidden" name="product.key_id" value="{{product.key.id}}" />
            </p>
            
           <p>
             <label>Title:</label><br>
		         <input type="text" class="text" name="product.title" value="{{product.title}}">
		    </p>
            
             <p>
             <label>Description:</label><br>
		      <textarea name="product.description" >{{product.description}}</textarea>
		    </p>
		    
		     <p>
             <label>New Price:</label><br>
		         <input type="text" class="text" name="product.new_price" value="{{product.new_price}}">
		    </p>
		    
		     <p>
             <label>Old Price:</label><br>
		         <input type="text" class="text" name="product.old_price" value="{{product.old_price}}">
		    </p>
		    
		    <p>
             <label>Images:</label><br>
		         <input type="text" class="text" name="product.images" value="{{product.images}}">
		          <span class="notice">1, 2, 43, 34</span> 
		    </p>
            
            <p> 
              <input type="submit" value="Save">
            </p> 
 
          </fieldset> 
        </form> 
 
      </div>
      
      
      
       <div class="span-12">
		
 		{% for image_id in product.images|split:"," %}
       
       		<div class="span-4 left image_border">
       			<b>id:</b><input type="text" class="span-3" value="{{image_id}}" /><br/>
      		  	<b>{{item.title}}</b><br/>      		  	
      		  	<a href="{{admin_model.link_id}}?action=edit&image.key_id={{item.key.id}}" >edit</a><br/>
	          <img src="/img/{{item.key.id}}" width="150" alt="{{item.title}}">
       		</div>
       	 
       	{% endfor %}

	
	<fieldset> 
            <legend>All Product lists</legend>  
      <table>
	  <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Title</th>
          <th>Date</th>
          <th>&nbsp;</th>
        </tr>
		</thead>			
		<tbody>
		{% for item in product_list %}
		  <tr>
	          <td>
	          	<a href="{{admin_model.link_id}}?action=delete&product.key_id={{item.key.id}}" >delete</a>
	          </td>
	          <td>{{item.title}}</td>
	          <td>{{item.date|date:"d/m/y H:m"}}</td>
	          <td>
	          	<a href="{{admin_model.link_id}}?action=edit&product.key_id={{item.key.id}}" >edit</a>
	          </td>
         </tr>
		 {% endfor %} 
        </tbody>
      </table>
      
 </fieldset>
      </div> 
       
{% endblock%}