{% extends "base.html" %}

{% block content_slot %}

<h2>Image System </h2>
 <div class="span-12 left">  
        <form action="{{admin_model.link_id}}" enctype="multipart/form-data" method="post">
		<input type="hidden" name="action" value="addupdate" />
 
          <fieldset> 
            <legend>Add Image</legend>
            <p> 
              <label>ID: {{image.key.id}}</label>
              <input type="hidden" name="image.key_id" value="{{image.key.id}}" />
            </p>
            
           <p>
             <label>Title:</label><br>
		         <input type="text" class="text" name="image.title" value="{{image.title}}">
		    </p>
		    
		    <p>
             <label>Image:</label><br>
		         <input type="file" class="text" name="image.content">
		    </p>
		                
            <p> 
              <input type="submit" value="Save">
            </p> 
 
          </fieldset> 
        </form>
        <fieldset>
        <a href="{{admin_model.link_id}}" >Add new Image</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if image %}
        <a href="/admin/product?action=edit&product.images={{image.key.id}}" >Create product with image</a>
        {% endif %}
        </fieldset>
      </div>
       <div class="prepend-1 left">
        <fieldset>  
        <legend>Image Preview</legend>
        <small>/img/{{image.key.id}}/{{image.title}}.png</small><br>
         <p>           
		       <label>{{image.title}}</label>
		 </p>
		 <p>
		 	<b>id:</b><input type="text" class="span-3" value="{{image.key.id}}" />
		 </p>
       <img src="/img/{{image.key.id}}" alt="{{image.title}}"><br/>
       <small>{{image.date|date:"d/m/y H:m:s"}}</small>
       </fieldset>
       </div> 
       
      <br style="clear:both" />
      
            
       <div>
       <fieldset> 
       <legend>Add Images List</legend>
	       	{% all_img_preview %}
      </fieldset> 
       
       </div>  
       
        <br style="clear:both" />
       
{% endblock%}