{% extends "base.html" %}

{% block content_slot %}

<script type="text/JavaScript">
	setTimeout("location.reload(true);",5000);
</script>

  <div>
	<fieldset> 
            <legend>User Statistics</legend>  
      <table>
      
      <thead>
        <tr>
          <th>count</th>
          <th>email</th>
          <th>subject</th>
          <th>status</th>
          <th>date</th>
        </tr>
		</thead>			
		<tbody>
		{% for stat in stats %}
	    <tr>
	    	  <td>{{stat.count}}</td>
	          <td>{{stat.send_to}}</td>
	          <td>{{stat.subject}}</td>
	          <td>{{stat.status}}</td>
	          <td>{{stat.date}}</td>
         </tr>
		 {% endfor %} 
        </tbody>
      </table>
 </fieldset>
</div> 
{% endblock%}