{% extends "base.html" %}

{% block content_slot %}

<h2>Add Update Delete Pages</h2>
 <div>  
        <form action="{{admin_model.link_id}}" method="post">
		<input type="hidden" name="action" value="addupdate" />
		
 
          <fieldset> 
            <legend>Add Page </legend>
             
            <p> 
              <label>ID: {{page.key.id}}</label>
              <input type="hidden" name="page.key_id" value="{{page.key.id}}" />
            </p>
            <p> 
              <label>Title</label>
             
            <p>  
             {% for ln in langs %}
              <b>{{ln}}:</b><input type="text" class="text" name="page.title_{{ln}}" value="{% get_attr page 'title_' ln %}">              
            {% endfor %}
            </p>
             
            <p>             
           <b> Keywords:</b> <input type="text" class="text" name="page.keywords_ru" value="{{page.keywords_ru}}" style="width:600px;"><br>              
           <b> Description:</b> <input type="text" class="text" name="page.description_ru" value="{{page.description_ru}}" style="width:600px;"><br>
            </p>
            
             <p>
              <b>Head:</b><br><textarea name="page.head_ru" style="height:60px;width:690px;">{{page.head_ru}}</textarea>
		      <textarea name="page.content_ru" id="cleditor" class="wysiwyg_textarea" >{{page.content_ru}}</textarea>
		      <b>en:</b><br><textarea name="page.content_en" style="height:40px;width:690px;">{{page.content_en}}</textarea>
		    </p>		   
            
            <p><label>Section Menu</label><br>
            <select name="page.fk_menu"> 
            	{% for key in menu_list %}
				 <option value="{{ key.link_id }}" {% ifequal key.link_id page.fk_menu %}selected="selected"{% endifequal %}>{% get_attr key 'name_' lang %}</option>
				{% endfor %} 
			</select>
          	</p>
          	
          	<p> 
              <label>Image</label><br> 
              <input type="text" class="text" name="page.image" value="{{page.image}}">
            </p> 
            
            <p> 
              <label>Allow Comments</label><br> 
              <input type="checkbox" class="text" name="page.is_comment" value="False" {%if page.is_comment %} checked="checked"{% endif %}">
            </p>
            <p> 
              <label>Page Visible</label><br> 
              <input type="checkbox" class="text" name="page.is_visible" value="False" {%if page.is_visible %} checked="checked"{% endif %}">
            </p>
            
            <p> 
              <label>Index</label><br> 
              <input type="text" class="text" name="page.index" value="{{page.index}}">
              <span class="notice">1..n</span> 
            </p>
            
            <p> 
              <input type="submit" value="Submit"> 
               
            </p> 
 
          </fieldset> 
        </form> 
 
      </div> 
{% endblock%}

 
     