<div style="position: absolute; z-index: 199; padding-top:8px;">

{% ifequal mode "live" %}
live <a href="?mode=debug&lang={{lang}}">Debug</a>
{% else%}
{% if user %}
		<a href="/" >Home</a>||
		{% for ln in langs %}              	
		{% ifequal ln lang%}
			<b>{% lang_name ln %}</b>
		{% else %}
		<a href="?lang={{ln}}">{% lang_name ln %}</a>
		{% endifequal %}
		{% endfor %}

	<b>||</b>
	{% if active_menu%}
	<a href="/admin/menu?action=edit&menu.key_id={{active_menu.key.id}}" >Edit {% get_attr active_menu "name_" lang %} </a>
	<b>||</b>
	{% endif %}
		
	  {% for item in admin_menu %}
	 		<a href="{{ item.link_id }}">{{ item.text }}</a>&nbsp;&nbsp;&nbsp;
	  {% endfor %}
	  
	  <b>||</b>
	   	
	<a href="?mode=live&lang={{lang}}">Live</a>
	<a href="?mode=debug&lang={{lang}}">Debug</a>
	<a href="{{logout}}">Logout</a>

{% endif %}
{% endifequal %}
</div>