<div id="header">
   <h1><a href="/">{% get_propertie "foobnix.header.slogan" lang %}</a></h1>

<div id="tagline">
<table border="0" style="border-width: 0 0 0 0">
<tr >
<td style="border-width: 0 0 0 0"><a href="/">{% get_propertie "foobnix.header.slogan" lang %}</a></td>
<td style="border-width: 0 0 0 0" width="10">&nbsp;</td>
<td style="border-width: 0 0 0 0" width="300">{% get_propertie "foobnix.addthis" lang %}</td>
</tr>
</table>
	
	
	
</div>
  <ul id="nav">
 	{% for item in menu_list %}
 	{% ifequal item.position "TOP" %}
 		
 		{% ifequal item.link_id active %}
 			<li class="tabs-selected"><a href="/{{item.link_id }}?lang={{lang}}">{% get_attr item 'name_' lang%}</a></li>
 		{% else %}
 			<li class="tabs-container"><a href="/{{item.link_id }}?lang={{lang}}">{% get_attr item 'name_' lang%}</a></li>
 		{% endifequal %}
 	{% endifequal %}  
	{% endfor %}
  </ul>
</div>
