<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- Source is //about-us.html -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>SEO India | Professional Search Engine Optimization Company India</title>
<meta name="Description" content="Search Engine Optimization Company - Synapse Interactive is a leading professional search engine optimization (SEO) company in India offering SEO services to US and UK clients. We do SEO website marketing" />
<meta name="Keywords" content="search engine optimization company india, search engine optimization company, seo india, seo company india, seo consultant inida, professional seo india, seo expert india, seo experts india, professional search engine optimization company" />

<style type="text/css">
@import url(/css/global.css);
</style>

<!--[if IE]><link type="text/css" rel="stylesheet" href="/css/ie.css" /><![endif]-->
<script type="text/javascript" src="/js/function.js"></script>
</head>

<body class="bodySeo">

{% include "../../administrator/templates/default/top_admin_panel.html" %}

<div id="wrapContainer">

<div id="container">

<!--Header Part Start Here-->
<div id="headerContainer">
<!--Logo and Request and other info start here-->
<div class="logocontanre1">
<div class="logoCont"><a href="/"><img src="/images/synapseLogo.gif" alt="Synapse Interactive" border="0" /></a></div>
<div class="requestCont1">
<div class="faceIn1">
    <a href="http://twitter.com/id" target="_blank"><img src="images/face_t.jpg" alt=""  title="" class="marImg" onmouseover="this.src='images/face_t_over.jpg'" onmouseout="this.src='/images/face_t.jpg'" /></a>
    <a href="http://www.facebook.com/id" target="_blank"><img src="images/face_f.jpg" alt="" title="" class="marImg" onmouseover="this.src='images/face_f_over.jpg'" onmouseout="this.src='/images/face_f.jpg'" /></a>
    <a href="http://www.linkedin.com/companies/id" target="_blank"><img src="images/face_in.jpg" alt="" title="" class="marImg" onmouseover="this.src='images/face_in_over.jpg'" onmouseout="this.src='/images/face_in.jpg'" /></a>
    <a href="http://www.youtube.com/id" target="_blank"><img src="images/face_l.jpg" alt="" title="" onmouseover="this.src='images/face_l_over.jpg'" onmouseout="this.src='/images/face_l.jpg'" /></a>
</div>
<div class="callCont1">

<div class="callContIn" align="right"><img src="/images/e_mail_phone.jpg" alt="Call Us" title="Call Us" />

<div class="info"><a href="mailto:info@synapseinteractive.com"><img src="/images/email-icon.gif" alt="Mail to Us" border="0" /> info@synapseinteractive.com</a></div>
</div>
</div></div>
</div>
<!--Top Nav Start Here-->
<div class="clr"></div>
<div class="topNav">
<ul>

<!-- 
<li style="position:relative;">
	  <a href="services.html" onmouseover="show1()" onmouseout="hide1()" >Services</a>
		
      <ul id="drp" style="display:none"  onmouseover="show1()" onmouseout="hide1()">
	      <li><a href="seo.html">Search Engine Optimization</a></li>
	      <li><a href="social-media-marketing.html">Social Media Marketing</a></li>
	      <li><a href="link-popularity-building.html">Link Building</a></li>
	      <li><a href="pay-per-click.html">Pay Per Click (PPC)</a></li>
	      <li><a href="consulting-service.html">SEO Consultants</a></li>
	      <li><a href="content-writing.html">SEO Copywriting</a></li>
	      <li><a href="brand-reputation-management.html">Brand Reputation Management</a></li>
	      <li><a href="iphone-Applications.html" style="border-bottom:0">iPhone Applications Development</a></li>
      </ul>
</li>
 -->

{% for item in menu_list %}
 	{% ifequal item.position "TOP" %}
 		<li><a href="/{{item.link_id }}?lang={{lang}}">{% get_attr item 'name_' lang%}</a></li>
 	{% endifequal %}
{% endfor %}

{% if display %}
	<li><a href="/admin/menu?menu.position=TOP&action=edit">[new]</a></li>
{% endif %}

</ul>
</div>
<!--Top Nav Start Here-->
<!--About Us End here-->	
</div>
<!--Top Nav Start Here-->
</div>
<!--Header Part End Here-->
<!--Banner part Start Here-->
<div id="banContainer">
<div align="center">
{% if menu.background %}
<img src="{{menu.background}}"  width="948" height="119" />
{% else %}
<img src="/images/about-banner.jpg" width="948" height="119" />
{% endif %}
</div>
</div>
<!--Banner part End Here-->
<!--Middle Part Start Here-->
<div id="contContainer">
<div id="btmContainer">
<!--Left Part Start Here-->
<div id="leftContainer">

{% block content_slot %}
{% endblock %}


</div>
<!--Thambnail start here-->
<!--Thambnail end here-->



<div class="clr"></div>

</div>
<!--Left Part End Here-->
<!--Right Part Start Here-->
<div class="rightblog">
  <div id="rtContainer">

<div class="cmmi1">
	<div class="seo_services">Наши <span class="seo_services1">Услуги</span></div>

</div>
<div class="clr"></div>
<!--Right Menu start Here-->
	<div class="seoServiceNav">
		<ul>
			{% for item in menu_list %}
			 	{% ifequal item.position "BLOCK" %}
			 	{% ifequal item.parent_id active %}
			 		<li><a href="/{{item.link_id }}?lang={{lang}}">{% get_attr item 'name_' lang%}</a></li>
			 	{% endifequal %}
			 	{% ifequal item.link_id active %}
			 		<li><a href="/{{item.link_id }}?lang={{lang}}">{% get_attr item 'name_' lang%}</a></li>
			 	{% endifequal %}
			 	
			 	{% endifequal %}
			{% endfor %}
			
			{% if display %}
				<li><a href="/admin/menu?menu.position=BLOCK&action=edit&menu.parent_id={{active}}">[add]</a></li>
			{% endif %}
		</ul>
	<!--Right Menu End Here-->
	
</div>

<div class="clr" ></div>
<!--Form start Here-->
<div class="rtForm">
<form method="post" action="commonmailer.php">
	<label>Name *</label><input type="text" id="txtName" name="txtName" maxlength="100" class="rtFormField" />
	<label>Email *</label><input type="text" id="txtEMail" name="txtEMail" maxlength="100" class="rtFormField" />
	<label>Phone</label><input type="text" id="txtPhone" name="txtPhone" class="rtFormField" />
	<label>Service</label>
	<select id="txtSubject" class="rtFormField" style="width: 128px; padding:0px; border:0;" name="txtSubject">
	<option value="SEO-SEM">SEO/SEM</option>
	<option value="iPhone-Applications">iPhone Applications</option>      
	<option value="PPC">PPC</option>
	<option value="SEO-Consultancy">SEO Consultancy</option>
	<option value="Ranking-Maintenance">Ranking Maintenance</option>
	<option value="Link-Building">Link Building</option>
	<option value="Copy-Writing">Content/Copy Writing</option>
	<option value="Brand-Reputation-Management">Brand Reputation</option>                
	</select>
	<label>Message*</label><textarea id="txtMessage" name="txtMessage" class="rtFormFieldMassage" ></textarea>
	<input name="submitQoute" type="image" class="rtFormFieldButton" value="Submit" src="/images/submit.png" />
</form>
<div style="clear:both"></div>
<div>(*fields are mandatory)</div>
</div>
<!--Form end Here-->
<div class="clr" ></div>
</div>
</div>
<!--Right Part End Here-->
</div>
</div>
</div>

<div class="clr"></div>
<!--Footer Start Here-->
<div id="footer">
<div id="footerWrap">

<div class="footerCont">
<div class="link">

{% for item in menu_list %}
 	{% ifequal item.position "FOOTER" %}
 		<a href="/{{item.link_id }}?lang={{lang}}">{% get_attr item 'name_' lang%}</a> |
 	{% endifequal %}
{% endfor %}

{% if display %}
	<a href="/admin/menu?menu.position=FOOTER&action=edit">[new]</a>|
{% endif %}


</div>

<div class="link">
{% for item in menu_list %}
 	{% ifequal item.position "ADDITIONAL" %}
 		<a href="/{{item.link_id }}?lang={{lang}}">{% get_attr item 'name_' lang%}</a> |
 	{% endifequal %}
{% endfor %}

{% if display %}
	<a href="/admin/menu?menu.position=ADDITIONAL&action=edit">[new]</a>|
{% endif %}
</div>

<div class="copyright">&copy; 1999 - 2010 Synapse Interactive All
Rights Reserved.</div>
<div class="fotlink"><a href="disclaimer.html">Disclaimer</a> | <a href="terms-of-use.html">Terms of Use</a></div>
</div>
<div class="clr"></div>
</div>
</div>
</body>
</html>
