<div id="feature_list" border="1">

<ul id="tabs" class="red1">
	<li><a href="javascript:;">
	<h3>Компактный вид</h3>
	<span>Ничего нишего, только табы и музыка</span> </a></li>

	<li><a href="javascript:;">
	<h3>Дерево навигации</h3>
	<span>Удобное дерево с медиа папками</span> </a></li>

	<li><a href="javascript:;">
	<h3>Радиостанции</h3>
	<span>Смотри что сейчас играет по радио</span> </a></li>
	
	<li><a href="javascript:;">
	<h3>Онлайн Музыка</h3>
	<span>Ищи и слушай любимую музыку</span> </a></li>
	
	
	<li><a href="javascript:;">
	<h3>Фильмы</h3>
	<span>Ищи и смтотри любимые фильмы в HD</span> </a></li>
	
	
	
	
</ul>

<ul id="output" class="red1">
	<li><img src="http://img29.imageshack.us/img29/1226/likefoobar2000packview.png" width="550"></li>
	<li><img src="http://img405.imageshack.us/img405/1388/karuneshtheconversation.png" width="550"></li>
	<li><img src="http://img337.imageshack.us/img337/5494/63311315.png" width="550"></li>
	<li><img src="http://img822.imageshack.us/img822/2281/modernjazz.png" width="550"></li>
	<li><img src="http://img84.imageshack.us/img84/7034/foobnixvideo.png" width="550"></li>
</ul>

</div>