@charset "utf-8";

body{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; background:url(/images/bg_body_ptrn.jpg) repeat; margin:15px 0px;}
*{margin:0px; padding:0px;}
/**layout structure***/
#wrapper{ width:950px; margin:0px auto; height:100%;background-color:#f7f1db; padding:5px; overflow:hidden;}
.header{ height:100px; background:url(/images/banner_top_bg.jpg) repeat-x; padding:10px;}
.logo{ width:290px;float:left;}
.toplinksdiv{ width:400px;float:left;}
.toplinks{ list-style:none; margin-left:140px;}
.toplinks li{ float:left; width:154px; background:url(/images/icon_blt.gif) no-repeat 0px 3px; padding-left:14px; color:#af120d; padding-bottom:5px; font-size:14px;}
.toplinks li a{ color:#af120d; text-decoration:none;}
.toplinks li a:hover{ color:#af120d; text-decoration:underline;}
.login{ width:230px;height:auto; float:left;}
.login ul{ margin:0px; padding:0px; list-style:none;}
.login ul li{ margin:0px; padding:0px 0px 5px 0px; list-style:none; color:#000000;}
.login ul li a{ color:#000000; text-decoration:underline; font-size:11px;}
.login ul li a:hover{ color:#000000; text-decoration:none;}

.postlink{ color:#000000; text-decoration:underline; font-size:11px;}
.postlink:hover{ color:#000000; text-decoration:none;}


h3{ font-size:14px; font-weight:bold; color:#990000;}
h3.themetl{ color:#993333; margin-top:5px; margin-bottom:3px; font-size:16px;}
a.prev{ background:url(/images/bul_pre.png) no-repeat left center; padding-left:13px; color:#990000; font-size:11px; text-decoration:none;}
a.prev:hover{ text-decoration:underline;}

.inp_txt_b{ width:113px; height:19px; padding-left:2px;}
.ddmenu{ width:85px; margin-left:5px; height:22px; color:#000000;}

.mlink {color:#525252; text-decoration: none;font-weight: bold;}
.mlink:hover { text-decoration: underline; }
.mlink:visited { text-decoration: none; }

table.mainborder { border-collapse:collapse;  border:4px solid #e5e5e5; font-family:Trebuchet MS; font-size:13px; font-weight:bold;}
table.bottomborder td {text-align:center;border-bottom: 1px solid #e5e5e5; padding:5px 0px; text-indent:5px;}
.style13 {color: #FFFFFF; }
.style14 {color: #FFFFFF; font-size: 14px; font-weight: bold; }




.glnav_c{ background:url(/images/nv_center.jpg) repeat-x; height:30px; float:left; width:940px;}
/*.glnav_r{ float:left; width:5px; height:30px; background:url(/images/nv_right.jpg) no-repeat; background-position:right;}*/
.glnav_l{ float:left; width:5px; height:30px; background:url(/images/nv_left.jpg) no-repeat; background-position: left;}
.glnav_rnew{ float:left; width:5px; height:30px; background:url(/images/nv_right.jpg) no-repeat; background-position:right;}


.gbnav{ list-style:none; padding:0px; font-size:17px; width:95%; margin:0 auto; border:px solid red;}
.gbnav li{ margin-left:20px; padding:0px 10px 0px 0px; list-style:none; display:inline; border-right: 1px solid #a90003; line-height:28px;}
.gbnav li a{ color:#FFFFFF; text-decoration:none;font-size:17px; font-family:"Trebuchet MS";}
.gbnav li a:hover{ color:#FFFFFF; text-decoration:none; cursor:pointer;}


.div_pr{height:100%; margin-top:5px; float:left; width:100%; overflow:hidden;}
.div_cp{ height:100%; overflow:hidden; padding:10px 0px;}
.wvb_left{width:378px; float:left; height:315px;}
.wvb_right{width:569px;float:left; margin-left:2px;}



/*************Container1******************/
.container_head {background:#ffffff;clear:both;}
.tl-corner {width:6px;height:39px;float:left;background:url(/images/wcon_tl.jpg) no-repeat top left;}
.tr-corner {width:6px;height:39px;float:right;background:url(/images/wcon_tr.jpg) no-repeat top right;}
.top {margin:0px 6px;height:39px;background:#ffffff;}
.container_body { clear:both; background:#ffffff; margin-top:2px;}
.container_body_wrapper {background:#ffffff;}
.content {background:#ffffff; padding: 0px 8px 20px 8px;margin:0px 0px 0px 2px;}
.container_footer {background:#ffffff; height:5px; clear:both;overflow:hidden; margin-bottom:5px;}
.bl-corner {width:6px;height:5px;float:left;background:url(/images/wcon_bl.jpg) no-repeat top left;}
.br-corner {width:6px;height:5px;float:right;background:url(/images/wcon_br.jpg) no-repeat top right;}
.bottom {margin:0px 6px;height:5px;background:url(/images/bottom.gif) repeat-x top;}
/********************end***************/



/*************Container2******************/
.d_container_head {background:url(/images/d_tm.jpg) repeat-x top; clear:both;}
.d_tl-corner {width:10px;height:40px;float:left;background:url(/images/d_tl.jpg) no-repeat top left;}
.d_tr-corner {width:10px;height:40px;float:right;background:url(/images/d_tr.jpg) no-repeat top right;}
.d_top {margin:0px 10px;height:40px;background:url(/images/d_tm) repeat-x top;}
.d_container_body { clear:both; background:#FFFFFF;}
.d_container_body_wrapper {background:url(/images/d_dot.jpg) repeat-y left;}
.d_content {background:url(/images/d_dot.jpg) repeat-y right; padding: 0px 13px 0px 13px;margin:0px 0px 0px 2px;}
.d_content_p{background:url(/images/d_dot.jpg) repeat-y right; padding: 10px 13px 10px 13px;margin:0px 0px 0px 2px;}

.d_container_footer {background:url(/images/d_bm.jpg) repeat-x top; height:8px; clear:both;overflow:hidden; margin-bottom:5px;}
.d_bl-corner {width:8px;height:8px;float:left;background:url(/images/d_bl.jpg) no-repeat top left;}
.d_br-corner {width:8px;height:8px;float:right;background:url(/images/d_br.jpg) no-repeat top right;}
.d_bottom {margin:0px 8px;height:8px;background:url(/images/d_bm.jpg) repeat-x top;}
/********************end***************/



.ln_more{ text-align:right; margin-top:10px;}
a.ln_more{ color:#aa0204; font-weight:bold; text-decoration:underline;}
a.ln_more:hover{ text-decoration:none;}


.container_lf{width:95px; float:left;}
.container_pr{width:255px; float:left; color:#666666; text-align:justify; padding-left:5px;}
.container_pr_s{width:230px; float:left; color:#666666; text-align:justify; padding-left:5px; margin-top:5px;}
.tabtxt{margin-left:185px; position:relative; bottom:5px; font-size:11px;}
.tabtxt_b{margin-left:275px; position:relative; bottom:7px; font-size:20px; color:#a90104; font-style:italic;}


.container_title{float:left;padding-top:5px; font-size: 13px;color:#525252}
.container_title_txt{width:190px; float:left; text-align:right; color:#000000; padding-top:20px; font-size:11px;}



.info_380{width:380px; height:auto;float:left;}
.info_560{width:565px; height:auto;float:right;}
.info_380_r{width:380px; height:auto;float:right;}
.info_560_l{width:565px; height:auto;float:left;}

.info_635_l{width:635px; height:auto;float:left;}
.info_310_r{width:310px; height:auto;float:right;}
.pdm{ padding-bottom:20px;}
.pdm_a{ padding-bottom:35px;}




.gallery{color:#666666; padding-left:10px;}
.gallery li{list-style:none; float:left; margin-right:10px;}
.gallery li.icn{list-style:none;margin-top:28px; margin-right:0px;}
.gallery li.icn_r{list-style:none;margin-top:28px; margin-right:0px;}
.gallery li div{ width:100px; height:auto; float:left; padding-left:5px;}
.gallery li div.content{ width:110px;}
.gallery li b{ color:#a90003; font-weight:bold; display:block; font-size:14px;}
.gallery li span{ text-align:justify; font-size:11px;}



.e_steps{}
.e_steps li{ list-style:none; border-right:1px solid #e9e9e1; width:125px;margin-top:15px; float:left; padding-left:5px; padding-bottom:5px;}
.e_steps li.brn{ border:none;}
.e_steps li div.pr_div{ height:35px;}
.e_steps li span{background:url(/images/bg_steps.jpg) no-repeat left; display:block; width:35px; color:#663300; font-size:17px; text-align:center; font-weight:bold; height:35px; float:left; line-height:32px;}
.e_steps li div.step{margin-left:5px; float:left; font-size:17px; font-weight:bold; line-height:30px;}
.e_steps li div.content{text-align:center; height:auto; overflow:hidden; color:#393738;}


.footer{ height:75px;text-align:center;overflow:hidden; background-color:#FFFFFF; clear:both; padding-top:15px;}
.foottxt{ text-align:center; margin:0 auto; padding-top:5px; font-size:11px;color:#545454;}
.foottxt li{ display:inline; padding:5px;}
.foottxt li a{ text-decoration:none; color:#545454;  padding-right:5px}
.foottxt li a:hover{ text-decoration:underline;}
.fon{ font-weight:bold;}




.features{border-bottom:1px dashed #d9d9d9; height:100%; overflow:hidden;}
.features_img{ width:120px; float:left; height:auto; text-align:center; padding-top:20px; padding-bottom:17px;} 
.features_info{ width:495px; float:left; height:auto; padding-top:20px; padding-bottom:10px;}


h1{color:#525252; font-size:24px; font-weight:normal; margin:0px; padding:0px;}
h2{color:#a90104; font-size:16px; font-weight:bold;} 
h2 span{ color:#663333; display:block; font-size:12px; font-weight:normal; }
p{ color:#663333; text-align:left; font-size:14px; margin-bottom:5px;}
p.col{ color:#993333; padding-top:5px;}
h4{ color:#996666; font-size:18px; font-weight:normal; margin:0px; padding:10px 0px 0px 0px;}
h5{ color:#cc0000; font-size:13px; font-weight:bold; margin-top:5px;}
ul.general_list { margin-left: 15px; color:#993333}
ul.general_list li{ list-style:none; background:url(/images/bullet-general_list.png) 0px 3px no-repeat; padding-left:15px;}

.cont_r_lnks{margin-top:5px; text-align:right;}
.cont_r_lnks a{ color:#990000; text-decoration:underline;}
.cont_r_lnks a:hover{ color:#990000; text-decoration:none;}


.tips{height:100%; overflow:hidden;}
.tips_l{width:180px;float:left; height:100%; overflow:hidden;}
.tips_r{width:100px;float:left; height:100%; overflow:hidden;}
ul.tipsinfo li{ margin:0px 0px 10px 0px; padding:0px; color:#996666;}
ul.tipsinfo li b{ display:block; color:#990000; font-size:13px; }

.theme_bn{ padding-top:10px; margin-bottom:30px;}
.themes_prdiv{margin-top:30px;height:100%; overflow:hidden;}
.themes_prdiv ul{ list-style:none; padding:0px; margin:0px;}
.themes_prdiv ul li{ padding:0px; margin:0px; width:153px; height:155px; margin-bottom:10px;float:left;}
.themes_basediv{ text-align:center; padding:3px;}

.pagercontrol{ margin:0px; padding:0px; list-style:none; display:inline;}
.pagercontrol li{ display:inline; padding:0px 2px; height:100%; overflow:hidden;}
.pagercontrol li.nospace{ padding-right:10px; padding-left:0px;}
.pagercontrol li a{ color:#000; font-size:12px; text-decoration:none; padding:0px 2px 0px 2px; border:1px solid #FFFFFF; line-height:20px;}
.pagercontrol li a:hover{ background-color:#990000;padding:0px 2px 0px 2px; border:1px solid #000000; font-size:12px; line-height:20px; color:#ffffff;}
.btn{ border:none;color:#993333; background:#FFFFFF; cursor:pointer;}


.cts{ margin:0px 0px 20px 0px; padding:0px; list-style:none; width:100%; float:left;}
.cts li{ margin:0px; padding:0px 0px 5px 0px; list-style:none; float:left; width:100%;}
.cts li label{ display:block; width:200px; float:left;}
.cts li span{ display:block; width:300px; float:left;}



.testimonials_img{ width:86px; float:left; height:95px; text-align:center; background:url(/images/bg_img_testimonials.jpg) no-repeat; margin-top:20px; margin-right:15px; margin-left:5px; padding-top:3px; padding-right:9px;}


.midtab{text-align:center; height:70px; background:url(/images/mid_tab.jpg) no-repeat; padding-top:13px;}
.midtab a{ color:#990000; font-size:20px; text-decoration:none;}
.midtab a:hover{ color:#990000; font-size:20px; text-decoration:none;}


.regparent{padding-top:15px;}
.regheader{background:url(/images/signup_head.jpg) no-repeat center; height:55px; text-align:center; font-size:18px; padding-top:50px; color:#990000;}
.reghead{ background:url(/images/regtab.jpg) no-repeat; height:26px; text-align:center; font-size:18px; color:#999999; padding-top:10px; text-indent:12px; width:581px; margin:0 auto;}
.regbodydiv{ margin-top:10px; height:100%; overflow:hidden; padding-bottom:10px;}


.regform{ margin:0 auto; list-style:none; margin:0px; padding:0px; font-family:Trebuchet MS;}
.regform li{ list-style:none; margin:0px 0px 6px 0px; padding:0px 0px 0px 0px; float:left; width:100%;}
.regform li label{ width:40%; text-align:right; font-size:14px; font-weight:bold; float:left; display:block; padding-right:3%; color:#666666; line-height:25px;}
.regform li span{ width:48%; text-align:left; float:left; display:block;}
.regtxtbox{ width:170px; height:20px; border:1px solid #dddddd; padding-top:5px; padding-left:3px;}
.regtxtsmall{ width:30px;height:20px; border:1px solid #dddddd; padding-left:3px; padding-top:5px;}
.regtxt2{ width:132px;height:20px; border:1px solid #dddddd;padding-left:3px; padding-top:5px;}
.regselbox{width:175px; height:20px; border:1px solid #dddddd;}
.regform li span b{ display:block; font-size:11px; color:#990000; font-weight:normal;}
.regform li span strong{ display:block; font-size:11px; color:#000000; font-weight:normal;}
.regform li span strong a{ font-weight:bold; color:#990000; text-decoration:underline;}
.regform li span strong a:hover{ font-weight:bold; color:#990000; text-decoration:none;}
.viewbtn{ background:url(/images/bg_btn.jpg) no-repeat; height:25px; width:115px; border:none; color:#990000;font-size:13px;}
.submit_main{ background:url(/images/submit_bg.jpg) no-repeat; width:265px; height:38px; text-align:center; border:none; cursor:pointer; margin-bottom:10px;}
.freetrail{ text-align:center; padding-bottom:5px; cursor:pointer;}
.btn_go{ background:url(/images/bg_go.jpg) no-repeat; width:28px; height:22px; color:#FFFFFF; font-weight:bold; border:none; cursor:pointer;margin-left:5px; padding-bottom:3px; }







.popup_close{ background:url(/images/popup_close.gif) no-repeat; padding-right:7px; padding-bottom:7px; position:absolute; right:3px; top:5px;}
.popup{width:300px;padding:15px; height:auto; background:url(/images/bg_body_ptrn.jpg) repeat; position:relative;}
.popup_inner{background:#FFFFFF; overflow:hidden; height:100%; padding:5px;}
.popup_pr{padding-left:5px; font-size:11px; padding-right:5px;}


.d_div_cp2{ width:480px; height:auto;}


.fea_div_p{ width:440px;height:95px; margin-top:10px;}
.fea_div{ width:220px; height:95px; float:left;}
.fea_div p{font-size:11px; text-align:left; margin-top:5px; color:#666;}
.fea_div .imgdiv{width:100px; height:100%; float:left;}
.fea_div .contentdiv{width:110px; height:100%; float:left;}




























 
