<div class="span-13 left">
<h2>Главные фичи плеера</h2>
<ul><li>1.0 Библиотека с множественным выбором директорий с музыкой</li><li>

1.1 Поддержка всех форматов gstreamer (играет все!)</li><li>

1.2 Древовидная навигация</li><li>

1.3 Быстрый фильтр-поиск по дереву навигации</li><li>

1.4 Возможность настроить табы сверху, слева или отсутсвие</li><li>

1.5 Создавать свои виртуальные плейлисты из локальной или online музыки</li><li>

1.6 Сохранять любую музыку из интернета, можно по альбомам, лучшее, сборники.</li><li>

1.7 Скроблер музыки на ласт.фм</li><li>

1.8 Отображение текста песни</li><li>

1.9 Экспериментальная поддержка <b>CUE</b> файлов</li><li>1.10 Видео проигрывание</li><li>1.11 Множественный drug-and-drop с дерева навигации или файловой системы.</li></ul>
</div>
<div class="span-9 right">
<h2>Releases</h2>  <a href="https://github.com/foobnix/foobnix/blob/master/src/CHANGELOG">Foobnix realease notes</a><br>
<iframe name="frame" src="https://github.com/foobnix/foobnix/raw/master/src/CHANGELOG" frameborder="0" height="500" width="100%" scrolling="no"></iframe>

</div>
<br style="clear: both;">

