<div id="feature_list">

<ul id="tabs">
	<li><a href="javascript:;">
	<h3>Компактный вид</h3>
	<span>Только музыка</span> </a></li>

	<li><a href="javascript:;">
	<h3>Дерево навигации</h3>
	<span>Удобное дерево с медиа папками</span> </a></li>

	<li><a href="javascript:;">
	<h3>Радиостанции</h3>
	<span>Смотри что сейчас играет по радио</span> </a></li>
	
	<li><a href="javascript:;">
	<h3>Онлайн Музыка</h3>
	<span>Ищи и слушай любимую музыку</span> </a></li>
	
	
	<li><a href="javascript:;">
	<h3>Фильмы</h3>
	<span>Ищи и смтотри любимые фильмы в HD</span> </a></li>
	
	
	
	
</ul>

<ul id="output">
	<li><img src="http://localhost:8080/img/3/title1.png"></li>
	<li><img src="http://localhost:8080/img/4/222.png"></li>
	<li><img src="http://localhost:8080/img/5/123.png"></li>
	<li><img src="http://localhost:8080/img/5/123.png"></li>
	<li><img src="http://localhost:8080/img/5/123.png"></li>
</ul>

</div>