<h2>{% get_propertie "prop.blog" lang %}</h2>
{% for page in page_list|slice:":4" %}
{% ifequal page.fk_menu "blog" %}

<p>
<a href="/page/{{page.key.id}}">{% get_attr page 'title_' lang %}</a>
</p>
{% endifequal %}
{% endfor %}


<h2>{% get_propertie "prop.comments" lang %}</h2>
{% for comment in comment_list|slice:"5" %}
<p>
<b><a href="{{comment.site}}">@{{comment.name}}</a></b> {% get_attr comment 'comment_' lang%}<br>
</p>
{% endfor %}

<h2>{% get_propertie "prop.twitter" lang %}</h2>
{% for item in twitters|slice:"15" %}
<p>
<b><a href="http://twitter.com/{{item.from_user}}">@{{item.from_user}}</a></b> {{item.text|urlize}}<br>
</p>
{% endfor %}



