<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en"><!-- Source is http://www.documentfoundation.org/download/ -->
    <head>
        <title>Foobnix</title>
       <style type="text/css">
            @import url(/css/screen.css) screen;
            @import url(/css/style.css);
        </style>
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="icon" href="/images/favicon.ico">        
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="language" content="en">
        <meta name="Robots" content="index, follow">
        <meta name="keywords" content="Foobnix">
        <meta name="description" content="Foobnix music player for Linux">
        
<link rel="stylesheet" type="text/css" href="/jwysiwyg-color/jquery.wysiwyg.css" media="screen, projection, print" />
<script type="text/javascript" src="/jwysiwyg-color/jquery.js"></script>
<script type="text/javascript" src="/jwysiwyg-color/jquery.wysiwyg.js"></script>

<link rel="stylesheet" href="/jwysiwyg-color/js_color_picker_v2.css" media="screen">
<script type="text/javascript" src="/jwysiwyg-color/color_functions.js"></script>
<script type="text/javascript" src="/jwysiwyg-color/js_color_picker_v2.js"></script>
<script type="text/javascript" src="/jwysiwyg-color/base.js"></script>
    </head>