<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Foobnix</title>
       <style type="text/css">
            @import url(/css/screen.css) screen;
            @import url(/css/style.css);
        </style>
        <link rel="shortcut icon" href="/images/logo.png">
        <link rel="icon" href="/images/logo.png">        
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="language" content="en">
        <meta name="Robots" content="index, follow">
        <meta name="keywords" content="Foobnix">
        <meta name="description" content="Foobnix music player for Linux">
        
        
   	<link rel="stylesheet" type="text/css" href="/cleditor/jquery.cleditor.css" />
   	
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/cleditor/jquery.cleditor.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#cleditor").cleditor({
        		width:        700, 
                height:       450,
        		});
        
      });
    </script>
    
    <script type="text/javascript" src="/js/jquery.featureList-1.0.0.js"></script>
    
    <script language="javascript">
		$(document).ready(function() {

			$.featureList(
				$("#tabs li a"),
				$("#output li"), {
					start_item	:	1
				}
			);
		});
	</script>
    </head>