{% extends "base.html" %}

{% block content_slot %}
<h2>{% get_attr item 'title_' lang %}</h2>

{% get_attr item 'content_' lang %}

{% if item.is_comment %}

<h2>{% get_propertie "prop.comments" lang %}</h2>


{% for comment in comments %}
{% ifequal comment.user_id session.user_id %}
<a href="?action=delete&comment.key_id={{comment.key.id}}">{% get_propertie "prop.delete" lang %}</a>
{% endifequal %}
{% if user %}
<a href=/admin/comment?action=delete&comment.key_id={{comment.key.id}}>spam</a>
{% endif %}

<pre style="white-space:pre-wrap;">
<b><a href="{{comment.site}}">@{{comment.name}}</a></b>
{% get_attr comment 'comment_' lang%}
</pre>

{% endfor %}


<form action="/{{menu_id}}/{{page_id}}" method="post">
		<input type="hidden" name="action" value="addupdate" />
 
          <fieldset> 
            <legend>{% get_propertie "prop.add.new.comment" lang %}</legend>
            
			<p> 
              <label>{% get_propertie "prop.name" lang %} *</label><br> 
              <input type="text" class="text" name="comment.name" value="{{comment.name}}">
              {% if comment.name_error %}
              <span class="notice">{% get_propertie "prop.required" lang %}</span>
              {% endif %} 
            </p>
            <p> 
              <label>{% get_propertie "prop.site" lang %}</label><br> 
              <input type="text" class="text" name="comment.site" value="{{comment.site}}">
            </p>
            <p> 
              <label>{% get_propertie "prop.comment" lang %} *</label><br>
              <textarea name="comment.comment_ru">{{comment.comment_ru}}</textarea>
              {% if comment.comment_error %}
              <br><span class="notice">{% get_propertie "prop.required" lang %}</span>
              {% endif %}              
            </p>    
            <p>
                       
            <script type="text/javascript"
       src="http://www.google.com/recaptcha/api/challenge?k=6Ld9tL0SAAAAABLhM86KAtJKzgyTjukZuBtkEuGq">
    </script>
    <noscript>
       <iframe src="http://www.google.com/recaptcha/api/noscript?k=6Ld9tL0SAAAAABLhM86KAtJKzgyTjukZuBtkEuGq"
           height="300" width="500" frameborder="0"></iframe><br>
       <textarea name="recaptcha_challenge_field" rows="3" cols="40">
       </textarea>
       <input type="hidden" name="recaptcha_response_field"
           value="manual_challenge">
    </noscript>    	
    		{% if comment.recaptcha_error %}
              <br><span class="notice">{% get_propertie "prop.wrong.text" lang %}</span>
            {% endif %}   
            </p>
            <br>
             <br>       
            <input type="submit" value="{% get_propertie "prop.add" lang %}" />       
           </fieldset>
</form>  

{% endif %}

{% endblock %}

