.newCustomFont1{
	font-family:"Trebuchet MS", Verdana;
	font-size:20px;
	font-weight:bold;
	color:#cd0400;
	padding-bottom:10px;
}
.newCustomFont1 span{
	color:#737373;
}

h4{display:inline; font-size:15px;}
.bullet li.lipaddingmax{margin-bottom:5px;}
p.marginMin{margin-top:-5px;}
body{ 
 color:#484848;
}


ul{
margin: 0px;
padding: 0px;
}

form{
margin: 0px;
padding: 0px;
}

.fltLt{
float: left;
overflow:hidden;
}

.fltRt{
float:right;
}

p{
margin: 0px 0px 21px 0px;
}


.clr{
clear:both;
padding:0px;
margin:0px;

}

#wrapContainer{
width:970px;
margin:-10px auto 0px auto;
}


#container{
width:970px;
float: left;
margin: 0px 0px 0px 0px;
}

#headerContainer{
float: left;
width:970px;
/*    *height: 138px;    */
/*  _height: 135px; */
background:url(/images/headerbg.gif) no-repeat;
clear:both;
border:0px solid red;
}

.logoCont{
float: left;
padding: 16px 0px 0px 12px;
}

.requestCont{
width: 379px;
float: right;
padding: 18px 12px 0px 0px;
_margin: 0px 9px 0px 0px;
}
.requestCont1{
width: 379px;
float: right;
padding: 14px 12px 0px 0px;
_margin: 0px 9px 0px 0px;
}
.requestBtn{
width: 379px;
float: right;
position:relative;
}

.callCont{
width: 379px;
float: right;
padding: 11px 0px 0px 0px;
margin-right:160px;
}
.callCont1{
width: 379px;
float: right;
padding: 0px 0px 0px 0px;
}

.callContIn{
width: 365px;
float: right;
padding:0px;
margin-right:5px;

}

.faceIn{
width: 134px;
margin:0;
z-index:9999;
position:absolute;
top:-61px;
left:-50px;
float:right;
padding:0px 0 0 0;

}
.faceIn1{
width: 134px;
float: right;
padding: 0px;
text-align:right;
}

/* Top Navigation Css */
.opera .topNav{
margin:0px 43px 0px 32px;
}
.topNav{
margin:0 auto;
_margin:-12px 0px 0px 0px;
width: 884px;
background:url(/images/topnav.gif) no-repeat center top;
height:37px;
}
.topNav ul{
margin: 0px;
padding:0px;
float: right;
}

.topNav ul li{
float: left;
padding: 0px 24px 0px 24px;
_padding: 0px;
line-height:33px;
display:block;
_line-height:10px;
}

.topNav ul li a{
text-decoration: none;
float:left;
}

.topNav ul li a:hover{
text-decoration: none;
}

.topNav ul li ul {
	position:absolute;
	top:33px;
	_top:30px;
	left:0;
	}
.topNav ul li ul li{
	display:block;
	_clear:both;
	
	}
.topNav ul li ul li a{
	text-align:left;
	padding:0 0 0 10px;
	line-height:25px;
	_line-height:4px;
	font-size:11px;
	background:#6a6c6e;
	border-bottom:1px solid #fff;
	width:200px;
	_width:160px;
	}
.topNav ul li ul li a:hover{
	background:#4a4c4d;
	}
/* Dropdown Css */
.subMenu  {
	position:absolute; 
	left:0px; top:33px;
	_top:31px;
	display:none;	
	}
.topNav li div.subMenu a{
	display:block;
	margin:0;
	width:200px;
	_width:200px;
	padding-left:10px;
	clear:both;
	}
.topNav li div.subMenu a:hover{
	padding-left:10px;
	_width:200px;
	}
.subMenu a.noborder{
	border: none;
	}
	
/* Banner Part Css */
#banContainer{
width: 970px;
float: left;
_float:none;
margin-top:-4px;
*margin-top:-2px;
_margin-top:0; /* 03.11.09 */
overflow:hidden;
/* background:url(/images/flash_bg.gif) no-repeat bottom; */
}

#banContainerHome{
width: 970px;
float: left;
margin-top:-4px;
*margin-top:-2px;
_margin-top:-5px; /* 03.11.09 */
overflow:hidden;
}

/* Content Container Css */
#contContainer{
width: 970px;
/* Edit on 31-05-2010 background:url(/images/../images/containerBg.gif) no-repeat top; */
background:#fff url(/images/containerBg1.gif) no-repeat left -32px;
float: left;

}
#btmContainer{
width: 970px;
background:url(/images/btmImg.gif) no-repeat bottom;
float: left; padding-top:15px;
}
#btmContainerIndex{
width: 970px;
background:url(/images/btmImg.gif) no-repeat bottom;
float: left;
}
#btmContainer1{
width: 970px;
/*background:url(/images/btmImg.gif) no-repeat bottom;*/
float: left;
/*height:350px;*/
}
/* Left Container Css */
#leftContainer{
width: 708px;
/*margin: 25px 0px 0px 11px;*/
margin:0 0px 0px 11px;
float: left;
}

#leftContainer1{
width: 940px;
margin: 25px 0px 0px 11px;
float: left;
}

.solution{
width: 675px;
margin: 0px 0px 33px 17px;
background:url(/images/dot.jpg) repeat-x bottom;
padding: 0px 0px 9px 0px;
display:block;
}
.solutionSeo{
width: 675px;
margin: 0px 0px 0px 17px;
background:url(/images/dot.jpg) repeat-x bottom;
padding: 0px 0px 2px 0px;
display:block;
}
.solutionSeo1{
width: 900px;
margin: 0px 0px 0px 17px;
background:url(/images/dot.jpg) repeat-x bottom;
padding: 0px 0px 2px 0px;
display:block;
}




.seo_services{
width: 208px;
float:left;
padding-left:15px;
background:url(/images/seo_services.jpg) no-repeat top left;
height:29px;
color:#2a89cc;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
}
.seo_services1{
color:#6a6c6e;
}

.iconCont{
width: 706px;
margin: 0px 0px 0px 2px;
float: left;
}

.headingRed{
margin: 0px 0px 0px 2px;
float: left;
padding-left:17px;
font-family:Arial, Helvetica, sans-serif;
font-size:100%;
font-weight:bold;
color:#d60700;
}
.firstPara{
width: 689px;
margin: 0px 0px 0px 2px;
float: left;
padding-left:17px;
font-family:Arial, Helvetica, sans-serif;
font-size:100%;
color:#3c3c3c;
line-height:18px;
}
.firstPara span{vertical-align:1px;}
.firstPara a{color:#3c3c3c; text-decoration:none;}
.firstPara a:hover{color:#3c3c3c; text-decoration:none;}
.firstParaMatter{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#3c3c3c; text-align:justify;}
.firstParaHeading{color:#005ea6;}
.firstPara1{
width: 900px;
margin: 0px 0px 0px 2px;
float: left;
padding-left:17px;
font-family:Arial, Helvetica, sans-serif;
font-size:100%;
color:3c3c3c;
line-height:18px;
text-align:center;
}
.thambnailCont{
width: 689px;
padding-bottom:15px;
padding-left:17px;
padding-top:15px;
float: left;
}
.thambnailCont1{
width: 670px;
padding-bottom:15px;
padding-left:17px;
padding-top:15px;
float: left;
}

.iconCont .iconContIn{
width: 340px;
background:url(/images/ltIconBg.gif) bottom left no-repeat;
margin: 0px 0px 10px 0px;
padding: 0px 0px 15px 0px;
float: left;
}

.iconContIn .width1{
width: 91px;
margin: 0px 0px 0px 12px;
float: left;
}
.iconContIn .width2{
width: 215px;
float: left;
}

.width2 h3 {margin: 5px 0px 0px 0px; padding:0px; color:#CD0400; font-family: "Myriad Pro", Arial, Helvetica, sans-serif; font-size: 15px; font-weight:bold; text-transform:none;}
.width2 h3 a{color:#CD0400; text-decoration:none;}

.iconContIn .width2 p{
margin: 5px 0px 9px 0px;
}
.iconContIn .width2 p a{
	color:#3c3c3c;
}
.ltCont{
width: 675px;
margin: 0px 0px 0px 17px;
}
.ltConth2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#CD0400;
	font-weight:600;
	text-align:right;
	padding-top:10px;
	padding-right:10px;
	text-transform:uppercase;
	}
.ltConth2 span{
	color:#737373;
	}
.bulletBlog{
width: 689px;
margin: 0px 0px 0px 2px;
float: left;
padding-left:17px;
}
.bulletBlogIn{
width: 210px;
margin: 0px 0px 0px 2px;
float: left;
padding-right:10px;
}
.bulletHeading{ font-family:Arial, Helvetica, sans-serif;
font-size:100%;
color:#db0f00;
font-weight:bold;
}
.bullet{
margin: 0px;
padding: 0px;
}

.bullet ul{
margin: 0px;
padding: 0px;
list-style: none;
}

.bullet li{
margin: 0px;
padding: 0px;
background:url(/images/bullet.jpg) no-repeat 6px 5px;
padding: 0px 0px 5px 18px;
}

.clientTesti{
background:url(/images/banner.gif) no-repeat;
height: 114px;
margin: 0px 0px 10px 22px;
*margin: 0px 0px 10px 22px;
}

.clientTesti .width1{
width: 170px;
padding: 12px 0px 0px 0px;	
float: left;
}

.clientTesti .width2{
width: 520px;
padding: 12px 0px 0px 18px;	
float: left;
}

.marLink{
margin: 3px 0px 0px 0px;
}



/* Right Container Css */
#rtContainer{
width: 223px;
/*margin:25px 28px 0px 0px; */
margin:0 28px 0px 0px;
float: right;
}

.cmmi {
margin:0px 0px 10px 4px;
width: 219px;
height: 69px;
background:url(/images/cmmiBg.gif) no-repeat left;
float: left;
}

.cmmi1 {
width: 223px;
height: 29px;
float: left;
}

.cmmi ul{
margin: 0px;
padding: 0px;
float: left;
}

.cmmi li{
margin: 0px;
padding: 0px;
float: left;
background:url(/images/sep.gif) no-repeat right;
padding: 10px 17px 10px 16px;
}

.cmmi li.last{
margin: 0px;
padding: 0px;
float: left;
background:none;
padding: 10px 0px 10px 16px;
}

.rtCont{
width: 218px;
float:right;
margin: 0px 0px 10px 5px;
border:0px solid #000
}
.rtCont1{
width: 218px;
float:right;
margin: 0px 0px 0px 5px;
border:0px solid #000
}

.rtContVideo{
width: 218px;
float:right;
margin: 0px 0px 10px 5px;
border:0px solid #000;
background:#fb9300;
text-align:center;
padding:8px 0
}
.seoServiceNav{
	width: 217px;
	padding-bottom:5px;
	padding-left:6px;
	float:right;
	background:url(/images/seo_services_nav_line.jpg) no-repeat left top;
}

.seoServiceNav ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

.seoServiceNav ul li{
	margin:0;
	padding:0;
}

.seoServiceNav ul li a{
	display:block;
	margin:0;
	padding:7px 0 6px 20px;
	background:url(/images/bulletGrey.jpg) 9px 12px no-repeat;
	color:#000;
	text-decoration:none;
}

.seoServiceNav ul li a:hover{
/*	background:url(/images/../images/nav-hover.jpg) left top no-repeat;*/
	background:url(/images/nav-hover1.jpg) left top no-repeat;
	color:#d60700;
	text-decoration:none;
}

/*.seoAnalysisNav{
width: 223px;
height:340px;
float:right;
margin: 0px 0px 10px 0px;
background:url(/images/seo_services_nav_line.jpg) no-repeat left top;
}*/


.seoKeywordMenu{
width: 193px;
height:25px;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#3C3C3C;
line-height:25px;
text-decoration:none;
display:block;
background:url(/images/bulletGrey.jpg) no-repeat left;
padding-left:15px;
}
.seoKeywordMenu a:link {color: #3C3C3C; text-decoration:none;}
.seoKeywordMenu a:visited {color: #3C3C3C; text-decoration:none;}
.seoKeywordMenu a:hover {color: #2A89CC; text-decoration:none;}
.seoKeywordMenu a:active {color: #3C3C3C; text-decoration:none;}



.ht{
height:10px;
}

.featuredCont{
margin-left:5px;
width: 218px;
}

.featuredCont .top{
background:url(/images/featuredBg.gif) no-repeat left top;
height: 28px;
}

.featuredCont .bottom p{
margin: 0px 10px 6px 10px;
}


.readmore{
background:url(/images/readBullet.gif) no-repeat 2px;
padding: 0px 0px 0px 14px;
}

.newsBg{
/*background:url(/images/../images/newsBg.gif) no-repeat; */
background:#f1f1f1;
margin: 0px 0px 8px 5px;
}
.newsBg1{
background:#E0F1FE;
margin: 0px 0px 8px 5px;
border:1px solid #f9f9f9;
}
.newsBg .newsCont{
padding: 10px 19px 11px 13px;
}

.newsBg .newsCont p{
margin: 0px 0px 10px 0px;
}


/* footer Css */
#footerWrap{
width: 959px;
margin: 0px auto;
}

.footerCont{
width: 959px;
float: left;
margin: 0px 0px 0px 0px;
}

.footerCont .link{
padding: 10px 0px 0px 0px;
text-align:center;
}

.footerCont .txt{
padding: 7px 0px 0px 0px;
text-align:center;
}


/* New Css for Index */
.marImg{
margin: 0px 13px 0px 0px;
border:0;
}
.info { padding:1px 0px 8px 0px;position:relative; z-index:10;}/* Edit on 29-12-2010 */
.info a{	 color:#484848;	 text-decoration:none;	 font-size:12px;	 line-height:16px;	  }
.info a:hover{	 text-decoration:underline;	 }
.requestCont1{
width: 379px;
float: right;
padding: 20px 12px 0px 0px;
_margin: 0px 9px 0px 0px;
}
#footer {
position: relative; 
overflow: hidden;
margin: 0px auto 4px auto;
background: url(/images/footerBg.gif) repeat-x scroll 0 0;
bottom:0;
position:relative;
width:100%;
min-width:1000px;
}
body:first-of-type.footerCont.copyright{
padding:0;
}
body:first-of-type.footerCont.fotlink{
padding:0;
}
.footerCont .copyright{
float: left;
width:300px;
padding:40px 0px 0px 0px;
}

.footerCont .fotlink{
float: right;
width:224px;
padding:40px 25px 0px 0px;
}
.emalImgH{ margin-right:0px;}

/* 27-10-09*/
ol.num{padding:0px; margin: 12px 0px 0px 21px; font-weight:bold;line-height: 19px; list-style-type:decimal;}
.txt{	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #333333;	font-weight: normal;}

.hrs{ width:680px; height:25px; padding: 0px 0px 8px 0px; border:1px solid #ccc; overflow:hidden}

.hrs-padding{padding: 6px 0px 0px 6px;}
.link{	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;color: #336699;	}
.btm_bor{border-bottom: 1px solid #CCCCCC;line-height: 19px; font-weight:bold;}
ul.articles	{ margin:15px 0px;}
ul.articles	li	{ margin-top:6px;}

ul.articles	li a, ul.articles	li a:hover	{ color:#336699; text-decoration:underline}


/*28.10.09 Seo Sem Plan Css*/
.package{ width:190px; height:50px; float:left; background:#FBAC2B; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px;
padding-top:10px; padding-left:10px; padding-right:5px;}
.standardSeoPlan{ width:95px; height:50px; float:left; background:#FBAC2B; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px;
text-align:center; padding-top:10px;}
.advancedSeoPlan{ width:95px; height:50px; float:left; background:#FBAC2B; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px;
text-align:center; padding-top:10px;}
.superiorSeoPlan { width:120px; height:50px; float:left; background:#FBAC2B; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px;
text-align:center; padding-top:10px;}
.semPlan{ width:160px; height:50px; float:left; background:#FBAC2B; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px;
border-right:#CCCCCC solid 1px; text-align:center; padding-top:10px;}

.package1{ width:190px; height:35px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; padding-top:10px; padding-left:10px; padding-bottom:5px; padding-right:5px;}
.standardSeoPlan1{ width:95px; height:35px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px;}
.advancedSeoPlan1{ width:95px; height:35px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px;}
.superiorSeoPlan1 { width:120px; height:35px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px;}
.semPlan1{ width:160px; height:35px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px;}

.package2{ width:190px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; padding-top:10px; padding-left:10px; padding-bottom:5px; padding-right:5px;}
.standardSeoPlan2{ width:95px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px;}
.advancedSeoPlan2{ width:95px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px;}
.superiorSeoPlan2 { width:120px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px;}
.semPlan2{ width:154px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px; padding-left:3px; padding-right:3px;}

.package3{ width:190px; height:50px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; padding-top:10px; padding-left:10px; padding-bottom:5px; padding-right:5px;}
.standardSeoPlan3{ width:95px; height:50px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px;}
.advancedSeoPlan3{ width:95px; height:50px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px;}
.superiorSeoPlan3 { width:120px; height:50px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px;}
.semPlan3{ width:160px; height:50px; float:left; color:#000000; border-top:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; text-align:center; padding-top:10px; padding-bottom:5px;}

.packageSearch{ width:659px; float:left; color:#000000; border:#CCCCCC solid 1px; padding:10px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:18px;}
.add{ width:653px; float:left; color:#000000; border:#CCCCCC solid 1px; padding:5px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:13px; background:#FBAC2B;}
.add1{ width:320px; float:left; color:#000000; border:#CCCCCC solid 1px; padding:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background: #FEE3A8;}
.add2{ width:320px; float:left; color:#000000; border:#CCCCCC solid 1px; padding:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.packageSearch1{ width:659px; float:left; color:#000000; padding:10px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:18px;}

.ppcpackage{ width:440px; float:left; color:#000000; border:#CCCCCC solid 1px; padding:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background: #FEE3A8;}
.ppcpackage1-1{ width:200px; float:left; color:#000000; border:#CCCCCC solid 1px; padding:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background: #FEE3A8;}
.ppcpackage1{ width:200px; float:left; color:#000000; border:#CCCCCC solid 1px; padding:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.ppcpackage2{ width:440px; float:left; color:#000000; border:#CCCCCC solid 1px; padding:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.portFolioBlog{width: 675px; float:left; border-bottom:solid #DDDDDD 1px; padding-top:10px; padding-bottom:10px; margin:0px;}
.portFolioBlog a:link {color: #CD0400; text-decoration:none;}
.portFolioBlog a:visited {color: #CD0400; text-decoration:none;}
.portFolioBlog a:hover {color: #CD0400; text-decoration:underline;}
.portFolioBlog a:active {color: #CD0400; text-decoration:none;}

/*.portFolioBlog a{color:#F94F06; line-height:25px;}
.portFolioBlog a:hover{color:#3c3c3c; text-decoration:underline;}
*/
.portFolioBlog1{width: 665px; float:left; border-bottom:solid #DDDDDD 1px; padding-top:10px; padding-bottom:10px; padding-right:10px; margin:0px; text-align:right; color:#006ab4; line-height:25px; font-size:13px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.portFolioBlog1 a:link {color:#006ab4; text-decoration:none;}
.portFolioBlog1 a:visited {color:#006ab4; text-decoration:none;}
.portFolioBlog1 a:active {color:#006ab4; text-decoration:none;}
.portFolioBlog1 a:hover{color:#006ab4; text-decoration:underline;}




/* case study 03.11.09 */
#content{
width:100%;
float: left;
}
#content ul{
	margin:0;
	padding:5px 0;
}
#content ul li{
	padding-left:12px;
	background:url(/images/bullet.jpg) no-repeat 6px 5px;
	padding: 0px 0px 5px 18px;
	}
.blue_bor{
margin: 26px 0px 0px 0px;
_margin: 4px 0px 0px 0px;
line-height: 21px;
border-bottom: 3px solid #6699CC;
}
.blue_bor_subtitle{
margin: 0px 0px 0px 0px;
_margin: 0px 0px 0px 0px;
line-height: 21px;
border-bottom: 3px solid #FBAC2B;
}

.green_bor{
margin: 0px 0px 0px 0px;
line-height: 21px;
border-bottom: 3px solid #669933;
}

.request{
margin: 5px 0px 0px 0px;
_margin: 4px 0px 0px 0px;
line-height: 21px;
border-bottom: 3px solid #669933;
}

.content_padding{padding:14px 0px 0px 0px;}


.request-casestudies{
margin: 12px 0px 0px 0px;
_margin:11px 0px 0px 0px;
line-height: 21px;
border-bottom: 3px solid #669933;
}
.rtgrey-cs{
background-color:#EFF0F2; 
padding: 4px 0px 12px 0;
line-height:20px;
color: #333333;
border-bottom:3px solid #CCCCCC;
}
.rtgrey-cs form select {
	width:160px;
}
.rtgrey-cs form img {
	float:left;
	padding:12px 0 4px 0;
}
.form-cs{
width: 176px;
}
.rtgrey-cs form .pad-left {
	margin:0 0 0 10px;
}
.cont-copy{
margin: 15px 0px 0px 0px;
padding:0;
line-height: 21px;
}
.cont-copy ul {
	list-style:none;
	padding:0;
	margin:0;
	padding:4px 0 5px 0;
	float:left;
}
.cont-copy li {
	list-style:none;
	background:url(/images/green-bullet.gif) 0 4px no-repeat;
	padding:0 0 5px 15px;
	line-height:14px;
	margin:0;

}


.cont-copy-mgn {
	margin:5px 0 0 0;
}
.cont-copy-mgn li{
	padding:0 0 5px 12px;
}
.content_padding .table-box {
	width:675px;
	float:left;
	font-family: Tahoma;
	border:1px solid #cccccc;
	border-bottom:none;
	margin:0 0 10px 0;
}
.content_padding .box-green-td {
	width:675px;
	height:30px;
	line-height:25px;
	color:#ffffff;
	background:#669966;
	text-align:center;
	font-weight:bold;
	float:left;
}
.content_padding .box-red-td {
	width:675px;
	height:30px;
	line-height:25px;
	color:#ffffff;
	background:#D70B00;
	text-align:center;
	font-weight:bold;
	float:left;
}

.content_padding .box-white-td {
	width:665px;
	height:25px;
	float:left;
	padding:0 0 0 10px;
	line-height:25px;
	background:#ffffff;
}
.content_padding .box-grey-td {
	width:665px;
	height:25px;
	float:left;
	padding:0 0 0 10px;
	line-height:25px;
	background:#cccccc;
}
.content_padding .box-tr {
	width:675px;
	height:20px;
	line-height:20px;
	float:left;
}
.content_padding .box-tr-2 {
	width:675px;
	height:20px;
	float:left;
}
.content_padding .box-tr-3 {
	width:360px;
	height:45px;
	float:left;
}
.content_padding .box-td1 {
	width:461px;
	height:20px;
	padding:0 0 0 10px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
}
.content_padding .box-td1-6 {
	width:411px;
	height:20px;
	padding:0 0 0 10px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
}
.content_padding .box-td1-2 {
	width:461px;
	height:20px;
	padding:0 0 0 10px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	line-height:20px;
}
.content_padding .box-td1-1{
	width:256px;
	height:20px;
	padding:0 0 0 10px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
}
.content_padding .box-td1-3 {
	width:146px;
	height:45px;
	padding:0 0 0 10px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	line-height:15px;
}

.content_padding .box-td1-4 {
	width:152px;
	height:20px;
	padding:0 0 0 10px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
}



.content_padding .box-td2 {
	width:62px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
}

.content_padding .box-td2-1{
	width:92px;
	height:20px;
	border-bottom:1px solid #cccccc;	
	float:left;
	text-align:center;
}
.content_padding .box-td2-2 {
	width:62px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
	line-height:20px;
}
.content_padding .box-td2-3 {
	width:62px;
	height:45px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
	line-height:45px;
}


.content_padding .box-td2-4 {
	width:98px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
}

.content_padding .box-td2-5 {
	width:100px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
}


.content_padding .box-td3 {
	width:68px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
}
.content_padding .box-td3-2 {
	width:68px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
	line-height:20px;
}
.content_padding .box-td3-3 {
	width:68px;
	height:45px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
	line-height:45px;
}

.content_padding .box-td3-4 {
	width:104px;
	height:20px;
	border-bottom:1px solid #cccccc;
	float:left;
	text-align:center;
}
.content_padding .box-td3-5 {
	width:101px;
	height:20px;
	border-bottom:1px solid #cccccc;
	float:left;
	text-align:center;
}
.content_padding .box-td3-6 {
	width:151px;
	height:20px;
	border-bottom:1px solid #cccccc;
	float:left;
	text-align:center;
}

.content_padding .box-td4 {
	width:71px;
	height:20px;
	border-bottom:1px solid #cccccc;
	float:left;
	text-align:center;
}
.content_padding .box-td4-2 {
	width:71px;
	height:20px;
	border-bottom:1px solid #cccccc;
	float:left;
	text-align:center;
	line-height:20px;
}
.content_padding .box-td4-3 {
	width:71px;
	height:45px;
	border-bottom:1px solid #cccccc;
	float:left;
	text-align:center;
	line-height:45px;
}
.content_padding .bg-grey{
	background:#efefef;
}
.content_padding .box-blue-td {
	width:665px;
	height:25px;
	float:left;
	padding:0 0 0 10px;
	line-height:25px;
	background:#99CCFF;
}

.content_padding .box-org-td {
	width:665px;
	height:25px;
	float:left;
	padding:0 0 0 10px;
	line-height:25px;
	background:#FBAC2B;
}

.content_padding .bg-blue{
	background:#E0F3FF;
}
.content_padding .bg-yellow{
	background:#FEE3A8;
}
.content_padding .bg-blue{
	background:#E0F3FF;
}
.content_padding .bg-orange{
	background:#FBAC2B;
}
.content_padding .desc-box {
	width:360px;
	float:left;
	padding:5px 0 15px 0;
}
.content_padding .desc-box-img {
	width:130px;
	float:left;
}
.content_padding .desc-box-text {
	width:230px;
	float:left;
}
.txtboxcase{
font-size: 11px;
font-family: Arial;
overflow: hidden;
}

.greentxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336600;
	text-decoration:none;
	font-weight:bold;
	line-height:24px;
}
.orgtxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FBAC2B;
	text-decoration:none;
	font-weight:bold;
	line-height:24px;
}
.datetxt 
	{
	font-family: tahoma;
	font-size: 10px;
	color: #999999;
	}

.content_padding .box-tr-new {
	width:360px;
	height:20px;
	line-height:20px;
	float:left;
}


.content_padding .box-tr1-new {
	width:675px;
	height:30px;
	line-height:30px;
	float:left;
}
.content_padding .box-tr-new {
	width:675px;
	height:20px;
	line-height:20px;
	float:left;
}

.content_padding .box-td1-new {
	width:303px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	text-align: center;
	float:left;
}

.box-td1-new1 {
	width:293px;
	height:19px;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	padding-left:10px;
	}

.content_padding .box-td1-2-new {
	width:293px;
	height:30px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	padding: 0px 0px 0px 10px;
	float:left;
	line-height:30px;
}

.content_padding .box-td1-1-new {
	width:293px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	padding: 0px 0px 0px 10px;
	float:left;
}



.content_padding .box-td2-new {
	width:100px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	text-align: center;
	float:left;
}

.content_padding .box-td2-new_1 {
	width:92px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	text-align: center;
	float:left;
}
.content_padding .box-td2-new_2 {
	width:92px;
	height:20px;
	border-bottom:1px solid #cccccc;
	text-align: center;
	float:left;
}

.content_padding .box-td2-new1 {
	width:185px;
	height:18px;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
	border-right:1px solid #cccccc;
	text-align: center;
	float:left;
}
.content_padding .box-td2-new2 {
	width:185px;
	height:18px;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
	text-align: center;
	float:left;
}
.content_padding .box-td2-2-new {
	width:100px;
	height:30px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	text-align: center;
	float:left;
	line-height:30px;
}
.content_padding .box-td3-new {
	width:270px;
	height:20px;
	border-bottom:1px solid #cccccc;
	text-align: center;
	float:left;
}

.content_padding .box-td3In-new {
	width:270px;
	height:30px;
	border-bottom:1px solid #cccccc;
	text-align: center;
	float:left;
	line-height:30px;
}

.content_padding .box-td3In-1-new {
	width:100px;
	border-right:1px solid #cccccc;
	text-align: center;
	float:left;
	height: 30px;
}

.content_padding .box-td3In-2-new {
	width:89px;
	border-right:1px solid #cccccc;
	text-align: center;
	float:left;
	height: 30px;
}

.content_padding .box-td3In-3-new {
	width:78px;
	text-align: center;
	float:left;
	height: 30px;
}

.content_padding .box-td3-1-new {
	width:100px;
	border-right:1px solid #cccccc;
	text-align: center;
	float:left;
}

.content_padding .box-td3-2-new {
	width:89px;
	border-right:1px solid #cccccc;
	text-align: center;
	float:left;
}

.content_padding .box-td3-3-new {
	width:78px;
	text-align: center;
	float:left;
}

/*5.11.09*/
.box-td1_1 {
	width:571px;
	height:20px;
	padding:0 0 0 10px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
}
.box-td4_1 {
	width:92px;
	height:20px;
	border-bottom:1px solid #cccccc;
	float:left;
	text-align:center;
}
.content_padding .box-td1-5{
	width:572px;
	height:20px;
	padding:0 0 0 10px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
}
.box-td4_2 {
	width:92px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
	float:left;
	text-align:center;
}
.padding_ul{ padding-left:40px;}

.box-td_1 {
	width:441px;
	height:20px;
	padding:0 0 0 10px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
}
.box-td_2 {
	width:82px;
	height:20px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
}.box-td1_2 {
	width:479px;
	height:20px;
	padding:0 0 0 10px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
}
/* Case Studies End*/
.industries{
width: 669px;
float: left;
border:#e4e4e4 solid 1px;
margin-top:25px;
}
.industries_1{
width: 202px;
float: left;
padding:10px;
border-right:#e4e4e4 solid 1px;
line-height:32px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#3c3c3c;

/*background:url(/images/../images/bgLine.gif) right top no-repeat;*/
}
.industries_1 a{color:#3c3c3c; text-decoration:none; background:url(/images/bullet.jpg) left no-repeat; padding-left:10px; }
.industries_1 a:hover{color:#d91000; text-decoration:underline;}
.industries_2{
width: 203px;
float: left;
padding:10px 10px 10px 10px;
line-height:32px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#3c3c3c;
text-decoration:none;
}
.industries_2 a{color:#3c3c3c; text-decoration:none; background:url(/images/bullet.jpg) left no-repeat; padding-left:10px; }
.industries_2 a:hover{color:#d91000; text-decoration:underline;}

/*9.11.09 SMM/SMO Plan*/
.content_padding .table-box1 {
	width:675px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10.5px;
	border:1px solid #cccccc;
	border-bottom:none;
	margin:0 0 10px 0;
}
/*.table-box1 a{ color:#3c3c3c;}*/

.content_padding .box-tr1 {
	width:675px;
	line-height:20px;
	float:left;
}
.content_padding .box-td-sl {
	width:54px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
}
.content_padding .box-td-act {
	width:205px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:left;
	padding-left:5px;
	padding-right:5px;
}
.content_padding .box-td-act strong{
	color:#d60700;
}

.whtHead{
	color:#FFF !important;
}

.box-td-act1 {
	width:305px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:left;
	padding-left:5px;
	padding-right:5px;
}
.content_padding .box-td-bro {
	width:100px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
	}
.content_padding .box-td-bro2 {
	width:133px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
}
.box-td-bro1 {
	width:100px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
	line-height:24px;
}
.content_padding .box-td-sil {
	width:100px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
}
.content_padding .box-td-sil2 {
	width:135px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
}

.box-td-sil1 {
	width:100px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
	line-height:25px;
}
.content_padding .box-td-gold {
	width:100px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
}
.content_padding .box-td-gold2 {
	width:134px;
	border-bottom:1px solid #cccccc;
	float:left;
	text-align:center;
}
.box-td-gold1 {
	width:100px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	float:left;
	text-align:center;
	line-height:25px;
}
.content_padding .box-td-pla {
	width:101px;
	border-bottom:1px solid #cccccc;
	/*border-right:1px solid #cccccc;*/
	float:left;
	text-align:center;
}
.box-td-pla1 {
	width:101px;
	border-bottom:1px solid #cccccc;
	line-height:25px;
	float:left;
	text-align:center;
}
.showHide1{ width:305px;
	float:left;
	padding-left:60px;
	padding-right:310px;
	background:url(/images/tr-bg.gif) center top repeat-y;
	}
.showHide{ width:205px;
	float:left;
	padding-left:60px;
	padding-right:410px;
	background:url(/images/plan-line.jpg) center top repeat-y;
	}
.showHide2{ width:205px;
	float:left;
	padding-left:60px;
	padding-right:410px;
	background:url(/images/plan-line1.jpg) center top repeat-y;
	}
.showHide strong{ color:#d60700;}
.arrowDefine{ float:left; width:170px;
	background:url(/images/arrow3.jpg) 0 4px no-repeat;
	padding-left:20px;
}
.arrowDefine1 {
	line-height:20px;
	}
.arrowDefine1 span{ background:url(/images/arrow3.jpg) 0 5px no-repeat;
	padding-left:25px;
	display:block;
}

/* Popup Css */
.white_content {
	display: none;
	position: absolute;
	width:220px;
	right:0px;
	background-color:#f6be69;
	/*border:#f2960d solid 5px;*/
	z-index:1002;
	overflow: auto;
	margin-top:2px;
	padding-bottom:3px;
	*margin-top:30px
}
			
.cmmiPopup {
	display: none;
	position: absolute;
/*	width:400px;*/
	background-color:#FFFFFF;
	border:#CCCCCC solid 1px;
	z-index:1002;
	overflow: auto;
	padding:10px;
	}

.iphonePopup {
	display: none;
	position: absolute;
/*	width:400px;*/
	background-color:#FFFFFF;
	border:#CCCCCC solid 1px;
	z-index:1002;
	padding:10px;
	top:-330px;
	left:-110px;
	}

/* Popup Css End */

.errorBlog{ width:653px; color:#000000; border:#CCCCCC solid 1px; text-align:center; margin:auto;
font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#f7f7f7;}
.errorFeild{ border-bottom:#CCCCCC solid 1px; text-align:left; padding-left:10px; line-height:22px;}


/*Marquee Css*/
#marqueecontainer{
	position: relative;
	width: 185px; /*marquee width */
	height:140px; /*marquee height */
	overflow: hidden;
	padding: 0px;
	padding-left: 0px;
	padding-bottom:15px;
	margin-bottom:5px;
}
.marqnew{
	position:absolute;
	z-index: 1000;
}


/*18 Nov 2009*/
.expand { width:206px; height:18px; top:8px; left:16px; background:url(/images/plus.jpg) no-repeat left 2px; float:left; margin:3px 2px 0 0; padding:0 0 0 18px } 

.expand:hover {text-decoration:underline; cursor:pointer} 
.contract { width:206px; height:18px; top:8px; left:16px; background:url(/images/minus.jpg) no-repeat left 2px; float:left; margin:3px 2px 0 0; padding:0 0 0 18px} 

/* 	Site Map Css 	*/
.firstPara1{
width: 900px;
margin: 0px 0px 0px 2px;
float: left;
padding-left:17px;
font-family:Arial, Helvetica, sans-serif;
font-size:100%;
color:3c3c3c;
line-height:18px;
text-align:center;
}

.contentpannel {
	padding:0 5px 0px 0;
}

.contentpannel a{
	color:#000000;
	text-decoration:none;
}

.contentpannel a:hover{
	color:#cc0000;
	text-decoration:none;
}
.stmaplist{
	background:url(/images/sitemap-bg.gif) repeat-y;
}

.stmaplist ul {
	padding:10px 0 0 0;
	margin:0;
	list-style-type:none
}
.stmaplist li {
	padding:4px 0px 5px 38px;
	background:url(/images/sitemap-bullets.gif) no-repeat;}
/* 	Site Map Css End ffd8a5	*/

.bg-yellow1 {
	background-color:#ED9E27;
	color:#fff;
	font-size:12px;
	}
.bg-yellow1 a{
	color:#000;
	line-height:20px;
	font-size:11px;
	text-decoration:none;
	}
.bg-yellow1 a:hover{
	color:#E2632C;
	text-decoration:underline;
	}
.bg-colorff {
	background:#fee3a8;
	}
.left-bdr {
	border-left:1px solid #d1d1d1;
	}
.hpadd {
	margin-bottom:8px;
	 padding-bottom:10px;
	}
/*27.11.iphone css*/
.iphoneSwf{ width:180px; float:left; padding-bottom:10px; }
.iphoneSwf1{ width:500px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:100%; color:#3c3c3c; line-height:18px; padding-top:15px;position:relative;}
.iphoneSwf2{ width:230px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:100%; color:#3c3c3c; line-height:18px;}
.logocontanre {
	height:113px;
	_height:90px;
	
		}
.logocontanre1 {
	height:113px;
	overflow:hidden;
	_height:90px;
	}
/* 03 Dec 2009 */

.midconten {
	border-left:1px solid #9d9d9d;
	padding:10px;
	text-align:justify;
	}
.midconten p{
	padding:0;
	margin:10px 0;
	}
.midconten p a{
	text-decoration:none;
	color:#3c3c3c;
	}
.midconten p a:hover{
	text-decoration:underline;
	}
.lastContant {
	border-right:1px solid #9d9d9d;
	padding:10px;
	}
.lastContant ul li {
	padding-top:5px;
	padding-bottom:5px;
	background:url(/images/bullet.jpg) no-repeat 6px 10px;
	}
.lastContant ul li a{
	text-decoration:none;
	color:#3c3c3c;
	}
.lastContant ul li a:hover{
	text-decoration:underline;
	}
#containerF {
	padding:4px;
	border:1px solid #BCBCBC;
	}
	
/*9.12.2009*/
#scrollup {
   position: relative;
   overflow: hidden;
/*   border: 1px solid #000;*/
   height: 60px;
   width: 530px
 }
 .headline {
   position: absolute;
   top: 210px;
   left: 5px;
   height: 55px;
   width:520px;
   color:#000000;
 }
/* New Slider Css 10-12-2009 */

#sidebar {
    color: #000;
    float:left;
	padding-bottom:8px;
}

#sidebar ul {
    margin:0;
    padding:0;
	list-style-type:none;
}
#sidebar li {
    height: 45px;
    overflow: hidden;
}
#ftdArticles {
	padding:0 10px 10px 10px;
	}
/* New Slider Css 10-12-2009 End */

.testHeadNew {
	font-size:15px;
	color:#fff;
	font-weight:bold;
	}


/* added on 16.12.09 */

.tabularBoxed {width:675px; float:left; font-size:11px; border:1px solid #CCC; border-left:none; margin:0 0 10px 0;}
.tabularBoxed table {font-size:11px; border:none; margin:0; padding:0;} 
.tabularBoxed table th {font-size:12px; text-align:center;font-weight:bold; color:#fff; margin:0; padding:5px 0 5px 3px; background:#ED9E27; border-right:1px solid #CCC;}
.tabularBoxed table td {font-size:11px; vertical-align:top; font-weight:normal; text-align:left; color:#3C3C3C; margin:0; padding:3px 2px 3px 3px; border-left:1px solid #CCC; border-right:none;}
.tabularBoxed .padLeft {padding-left:35px;}
.tabularBoxed .btmBorder {border-bottom:1px solid #CCC;}
.tabularBoxed .orgBg {font-size:11px; font-weight:normal; background:#FEE3A8; text-align:center; border-bottom:none;}
.txtCenter {text-align:center;}
.boldTabHead {padding:0; margin:0; font-weight:bold; font-size:11px;}
.redTabHead {padding:0; margin:0; font-weight:bold; font-size:11px; color:#D60700;}
.arrowSeoTabular {background:url(/images/arrow3.jpg) 5px 5px no-repeat; padding-left:25px !important;}
.rightArrow {background:url(/images/red-sign.gif) center 5px no-repeat; padding:0; margin:0;}
.crossArrow {background:url(/images/red-cross1.gif) center 5px no-repeat; padding:0; margin:0;}
.tabularBoxed table td table {font-size:11px; border:none; margin:0; padding:0; border:none;} 
.tabularBoxed table td table td {border:none; padding-bottom:6px; margin:0; vertical-align:text-top;}


/* added on 23.12.09 */
.textimonalRow {padding-bottom:18px; margin:0; clear:both; background:url(/images/testimonial_Bg.jpg) no-repeat bottom left;}
.textimonalRow p {padding:0; margin:0; line-height:19px; color:#3C3C3C;}
.textimonalRow span {padding-left:15px;color:#D60700; font-family:Comic Sans MS, arial; font-size:11px; background:url(/images/testimonial_Bulllet.jpg) no-repeat left 3px}
.spacerTestimonial {height:18px; clear:both}
.firstParaContact
{
font-family:Arial, Helvetica, sans-serif;
font-size:95%;
margin-bottom:10px;
}
.firstParaContact b
{

font-size:105%;
}
.firstParaContact .link
{
font-size:95%;
}

/* add css 19-05-2010 */

.linkUL a{ text-decoration:none;}
.linkUL a:hover{ text-decoration:underline;}


.underLine a{ text-decoration:underline;}
.underLine a:hover{ text-decoration:none;}

.underLineRed a{ text-decoration:none; color:#db0f00;}
.underLineRed a:hover{ text-decoration:underline; color:#db0f00;}

#containerB{background:url(/images/flash_bg.gif) no-repeat bottom;}

.insideTabBtn{float:right; margin-top:-10px;}
.insideTabBtn img{padding-right:20px;}
.insideTabBtnSmm{float:right;}
.insideTabBtnSmm img{padding-right:20px;}


/* added on 24.06.10 */

#content .sino {background-color:#a5a5a5;}
#content .tabularBoxed table th {border-right:1px solid #e7e7e7;}
#content .tabularBoxed table td {border-left:1px solid #e7e7e7;}
#content .tabularBoxed {border:1px solid #e7e7e7;}
#content .packg {background-color:#78b5e1;}
#content .packg1 {background-color:#fbbe2f;}
#content .tabularBoxed .orgBg {background:#f5f5f5;}

#content .bl{background-color:#f0f7fd;}
#content .or{background-color:#fff8e8;}

.tabularBoxed .sino {background-color:#a5a5a5;}
.tabularBoxed table th {border-right:1px solid #e7e7e7;}
.tabularBoxed table td {border-left:1px solid #e7e7e7;}
.tabularBoxed {border:1px solid #e7e7e7;}
.tabularBoxed .packg {background-color:#78b5e1;}
.tabularBoxed .packg1 {background-color:#fbbe2f;}
.tabularBoxed .orgBg {background:#f5f5f5;}

.tabularBoxed .bl{background-color:#f0f7fd;}
.tabularBoxed .or{background-color:#fff8e8;}

.overfloHidden{ overflow:hidden; font-family:"Trebuchet MS", Verdana; font-size:20px; font-weight:bold; padding-bottom:10px; color:#cd0400;}
.overfloHidden h2{color:#cd0400; font-family:"Trebuchet MS", Verdana; font-size:20px; text-transform:none; float:left; font-weight:bold; padding-top:3px;}
.overfloHidden span{color:#737373;}


.freeWebAnalysis{ width:214px; height:42px; float:right; margin-right:0px; margin-top:-8px; position:relative;}

/************* video Css *****************/
.videoplyCont{width:348px; height:286px; position:absolute; padding:19px; background:url(/images/videoBg.png); top:40px; *right:0;  visibility:hidden; z-index:100;}
.videoplyBox{background:#000000; height:286px; width:348px;}
.closeVideo{position:absolute; right:0px; top:0px;}
.closeVideo img{margin:-12px 13px 0px 0px;}