



<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en"><!-- Source is http://www.documentfoundation.org/download/ -->
    <head>
        <title>Foobnix</title>

<link rel="stylesheet" type="text/css" href="jquery.wysiwyg.css" media="screen, projection, print" />
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.wysiwyg.js"></script>

<link rel="stylesheet" href="js_color_picker_v2.css" media="screen">
<script type="text/javascript" src="color_functions.js"></script>
<script type="text/javascript" src="js_color_picker_v2.js"></script>
<script type="text/javascript" src="base.js"></script>
       
    </head>
    <body>

<div style="width:500px;">
<textarea id="editorText"></textarea>
</div>

</bod>
</html>
