{% extends "base.html" %}


{% block content_slot %}
<div id="wrap">


{% for item in product_list %}
	       	<div class="art_citate left box">      		  	      		  	 	
  			<a href="/{{active}}/{{item.key.id}}" ><img src="/img/{{ item.images|first_image }}" width="150" alt="{{item.title}}"></a>
  			<h4>{{item.title}}</h4>  					
			</div>
{% endfor %}

	     {%if user %}
	       	<div class="left">
      		  	<a href="/admin/product?action=edit" >Add new Product
      		  	<img src="{% image_not_found %}" width="150" alt="{{item.title}}">
      		  	</a>
			</div>
			{% endif %}

<br style="clear:both" />
</div>
{% endblock %} 