{% extends "base.html" %}

{% block content_slot %}
<div id="wrap">
 		{% if user %}
      		  	<a href="/admin/product?action=delete&product.key_id={{item.key.id}}" >delete</a>&nbsp;&nbsp;&nbsp;
      		  	<a href="/admin/product?action=edit&product.key_id={{item.key.id}}" >edit</a><br>
      		  	<b>images</b>:{{item.images}}<br/>
  					
		{% endif %}  	
		<div class="art_citate" >
				<h2>{{item.title}}</h2>
				<p >
  					{{item.description}}
  				</p>
		</div>					
  				<img src="/img/{{ item.images|first_image }}" alt="{{item.title}}" class="left">
  		
  				{% if item %}
  					{% for item in item.images|split %}
							<div class="left">
							<img src="/img/{{item}}" height="100" >
							</div>
					{% endfor %}
        		{% endif %}  
  				
</div>
				
{% endblock %}
